<!DOCTYPE html>
<html>

<head>
    <title>Simple Dictionary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Charmonman:700|Lobster" rel="stylesheet">
</head>

<body>
    <div class="container">

        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand">Simple Dictionary</a>
            <form class="form-inline" action="/results" method="GET">
                <input id="searchBox" class="form-control" type="text" role="search" placeholder="Enter word" name="word" required>
                <button class="btn btn-outline-primary">Search</button>
            </form>

        </nav>