<% include partials/header %>

<div>
    <h2 id="word"><%= resultsJson.word %></h2>
    <h4>Definitions:</h4>
    <% resultsJson["definitions"].forEach(function(definition) { %>
        <div class="alert alert-info">
            <li>
                <%= definition.text %>
            </li>
        </div>
    <% }); %>

    <h4>Examples:</h4>
    <% resultsJson.examples.forEach(function(example) { %>
        <div class="alert alert-success">
            <li>
                <%= example.text %>
            </li>
        </div>
    <% }); %>

</div>


<% include partials/footer %>