<% include partials/header %>
    <div>
        <h2>Word of the Day: <span id="word"><%= data.word %></span></h2>
        <h4>Definitions:</h4>
        <% data["definitions"].forEach(function(definition) { %>
            <div class="alert alert-info">
                <li>
                    <%= definition.text %>
                </li>
            </div>
        <% }); %>
        <h4>Examples:</h4>
        <% data["examples"].forEach(function(example) { %>
            <div class="alert alert-success">
                <li>
                    <%= example.text %>
                </li>
            </div>
        <% }); %>
    </div>
<!-- </div> -->

<% include partials/footer %>