button {
    margin: 5px;
}

.navbar-brand {
    font-family: 'Charmonman', cursive;
    font-size: 30px;
}

#word {
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

#searchBox {
    width: 430px !important;
}

#noResults {
    text-align: center;
}